@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1400px;
  min-height: 100vh;
}

.padding-x-1 {
  @apply px-10;
  /* Add more styles as needed */
}
